In [2]:
import pandas as pd
import sqlite3

In [3]:
datapath:str = "../results.sqlite3"

In [4]:
def getdata():
  con = sqlite3.connect(datapath)
  df = pd.read_sql('select * from serial_result', con)
  con.close()
  return df

In [5]:
df = getdata()
df.tail()

    id    message                     created
53  54  Serial tx  2022-11-06 09:10:36.234685
54  55  Serial tx  2022-11-06 09:10:37.149977
55  56  Serial tx  2022-11-06 09:10:38.066722
56  57  Serial tx  2022-11-06 09:10:38.987080
57  58  Serial tx  2022-11-06 09:10:39.902786